[submodule "adagpsarm/tmp/st_tooling02"]
	path = adagpsarm/tmp/st_tooling02
	url = https://github.com/stangassinger/st_tooling02
[submodule "NN/tmp/st_tooling02"]
	path = NN/tmp/st_tooling02
	url = https://github.com/stangassinger/st_tooling02
