[submodule "adagpsarm/tmp/st_tooling01"]
	path = adagpsarm/tmp/st_tooling01
	url = https://github.com/stangassinger/st_tooling01.git
[submodule "NN/tmp/st_tooling01"]
	path = NN/tmp/st_tooling01
	url = https://github.com/stangassinger/st_tooling01.git
