[Desktop Entry]
Version=1.0
Type=Application
Name=ModelSim
Comment=
Icon=gtk-theme-config
Path=/opt/altera_lite/modelsim_ase/bin
Terminal=true
StartupNotify=true
Exec=/opt/altera_lite/modelsim_ase/bin/vsim
