[Desktop Entry]
Version=1.0
Type=Application
Name=quartus
Exec=/opt/altera_lite/quartus/bin/quartus
Icon=preferences-system-power
Path=/opt/altera_lite/quartus/bin; 
Terminal=false
StartupNotify=false
